<div class="page-header">
<h1>
Welcome to Smarty Party!
</h1>
</div>

<h2>Your Parties</h2>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <% @parties.each do |party| %>
      <tr>
        <td>
        <a href="/parties/<%= party.id %>" class="btn btn-primary"><%= party.name %></a>
        <a href="/parties/<%= party.id %>/edit" class="btn btn-warning-outline">Edit</a>
         <a href="/delete_party/<%= party.id %>" class="btn btn-danger-outline" rel="nofollow">Delete</a>
         <a href="/parties/<%= party.id %>/shopping_list" class="btn btn-success-outline" rel="nofollow">Shopping List</a>
        </td>
      </tr>
      <% end %>
</table>
</div>
</div>

<h2>Get Planning</h2>
<div class="row">
  <div class="col-md-12">
    <table class="table">
  <tr>
    <td>
      <a href="/parties/new" class="btn btn btn-success">New Party</a>
      <a href="/items/" class="btn btn btn-primary">See Items</a>
        <a href="/items/new" class="btn btn btn-warning">Add Items</a>
    </td>
    </tr>
    </table>
  </div>
</div>
