<!-- Validation failure messages -->
<% if @party.errors.any? %>
  <% @party.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Party</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_party" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>
        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @party.name %>">
      </div>

      <!-- Label and input for date -->

      <div class="form-group">
        <label for="date" class="control-label">Date</label>
                <div class='input-group date' id='datetimepicker1'>
            <input name="date" type="text" class="form-control" id="date" placeholder="Date" value="<%= @party.date %>">
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
        <script type="text/javascript">
            $(function () { format:
                $('#datetimepicker1').datetimepicker({format: 'MM/DD/YYYY'});
            });
        </script>
          </div>
        </div>

      <!-- Label and input for duration -->
      <div class="form-group">
        <label for="duration" class="control-label">
          Duration
        </label>
        <input type="text" id="duration" name="duration" placeholder="Duration" class="form-control" value="<%= @party.duration %>">
      </div>

      <!-- Label and input for male_count -->
      <div class="form-group">
      <table>
      <tr>
        <td><label for="male_count" class="control-label">
          Male count
        </label></td>
        <td><label for="female_count" class="control-label">
          Female count
        </label></td>
      </tr>
      <td>
        <input type="text" id="male_count" name="male_count" placeholder="Male count" class="form-control" value="<%= @party.male_count %>"></td>
      <td>
        <input type="text" id="female_count" name="female_count" placeholder="Female count" class="form-control" value="<%= @party.female_count %>"></td>
      </table>
    </div>

      <!-- Label and input for food_level -->
      <div class="form-group">
        <label for="food_level" class="control-label">
          Food level
        </label>

      <div id="slider">
        <input class = "bar" type="range" id="food_level" name="food_level" value="<%= @party.food_level %>" min = "0" max = "5" step = "1">
        <span class="highlight"></span>
        </div>
        </div>

      <!-- Label and input for drink_level -->
      <div class="form-group">
        <label for="drink_level" class="control-label">
          Drink level
        </label>

      <div id="slider">
        <input class = "bar" type="range" id="drink_level" name="drink_level" value="<%= @party.drink_level %>" min = "0" max = "5" step = "1">
        <span class="highlight"></span>
        </div>
        </div>

      <!-- Label and input for budget -->
      <div class="form-group">
        <label for="budget" class="control-label">
          Budget
        </label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
            <input type="text" id="budget" name="budget" placeholder="Budget" class="form-control" value="<%= @party.budget %>">
          <span class="input-group-addon">.00</span>
        </div>
      </div>

      <!-- Label and input for appetizer_course -->
      <div class="form-group">
      <label for="courses" class="control-label">Courses</label>
      </div>
      <div class = "form-inline">
        <label for="appetizer_course">
          Appetizer course
        </label>

        <input type="checkbox" id="appetizer_course" name="appetizer_course" placeholder="Appetizer" class="form-inline" value="<%= @party.appetizer_course %>">

        <label for="entree_course" class="control-label">
          Entree course
        </label>

        <input type="checkbox" id="entree_course" name="entree_course" placeholder="Entree" class="form-inline" value="<%= @party.entree_course %>">

        <label for="dessert_course" class="control-label">
          Dessert course
        </label>

        <input type="checkbox" id="dessert_course" name="dessert_course" placeholder="Dessert" class="form-inline" value="<%= @party.dessert_course %>">

        <label for="alcohol_course" class="control-label">
          Alcohol course
        </label>

        <input type="checkbox" id="alcohol_course" name="alcohol_course" placeholder="Alcohol" class="form-inline" value="<%= @party.alcohol_course %>">
      </div>

      <button class="btn btn-success">
        Create Party
      </button>
      or
      <a href="/parties">Cancel</a>
    </form>
  </div>
</div>
