<div class="page-header">
  <h3><%= @party.name %></h3>
</div>

<div class="page-header">
  <h4>Party Profile</h4>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Date</dt>
      <dd><%= @party.date %></dd>

      <dt>Duration</dt>
      <dd><%= @party.duration %> hours</dd>

      <dt>Food level</dt>
      <dd><%= @party.food_level %></dd>

      <dt>Drink level</dt>
      <dd><%= @party.drink_level %></dd>

      <dt>Male count</dt>
      <dd><%= @party.male_count %></dd>

      <dt>Female count</dt>
      <dd><%= @party.female_count %></dd>

      <dt>Budget</dt>
      <dd><%= number_to_currency(@party.budget) %></dd>

      <dt>Appetizer</dt>
      <dd><%= @party.appetizer_course %></dd>

      <dt>Entree</dt>
      <dd><%= @party.entree_course %></dd>

      <dt>Dessert</dt>
      <dd><%= @party.dessert_course %></dd>

      <dt>Alcohol</dt>
      <dd><%= @party.alcohol_course %></dd>

    </dl>

<div class="page-header">
  <h4>Food & Drink Needs</h4>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Appetizers</dt>
      <dd><%= @appetizer_calc%> pieces</dd>

      <dt>Entrees</dt>
      <dd><%=@entree_calc%> meals</dd>

      <dt>Desserts</dt>
      <dd><%= @dessert_calc%> pieces</dd>

      <dt>Non-Alcohol</dt>
      <dd><%= @nonalcohol_calc%> drinks</dd>

      <dt>Alcohol</dt>
      <dd><%= @alcohol_calc%> drinks</dd>

      <dt>Flatware</dt>
      <dd><%= @flatware_calc%> sets</dd>
    </dl>
  </div>
 </div>

<div class="page-header">
  <h4>Food & Drink Totals from Shopping list</h4>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Appetizers</dt>
      <dd>
        <% total = 0 %>
        <% @appetizer_shopping_items.each do |shopping_item| %>
          <% total = total + shopping_item.serves %>
        <% end %>

        <%= total.to_i %> pieces
      </dd>

      <dt>Entrees</dt>
      <dd>
        <% total = 0 %>
        <% @entree_shopping_items.each do |shopping_item| %>
          <% total = total + shopping_item.serves %>
        <% end %>

        <%= total.to_i %> meals</dd>

      <dt>Desserts</dt>
      <dd>
      <% total = 0 %>
        <% @dessert_shopping_items.each do |shopping_item| %>
          <% total = total + shopping_item.serves %>
        <% end %>

        <%= total.to_i %> pieces</dd>

      <dt>Non-Alcohol</dt>
      <dd>
      <% total = 0 %>
        <% @nonalcohol_shopping_items.each do |shopping_item| %>
          <% total = total + shopping_item.serves %>
        <% end %>

        <%= total.to_i %> drinks</dd>

      <dt>Alcohol</dt>
      <dd>
      <% total = 0 %>
        <% @alcohol_shopping_items.each do |shopping_item| %>
          <% total = total + shopping_item.serves %>
        <% end %>

        <%= total.to_i %> drinks</dd>

      <dt>Flatware</dt>
      <dd>
      <% total = 0 %>
        <% @flatware_shopping_items.each do |shopping_item| %>
          <% total = total + shopping_item.serves %>
        <% end %>

        <%= total.to_i %> sets</dd>

      <dt>Total Cost</dt>
      <dd>
      <% total = 0 %>
        <% @all_items.each do |all_item| %>
          <% total = total + all_item.costs %>
        <% end %>

        <%= number_to_currency(total.to_i) %></dd>
    </dl>
  </div>
 </div>

<div class="page-header">
  <h4>Comparison</h4>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Appetizers</dt>
      <dd>
        <% total = 0 %>
        <% @appetizer_shopping_items.each do |shopping_item| %>
          <% total = total + shopping_item.serves %>
        <% end %>

        <%= total.to_i - @appetizer_calc%> pieces
      </dd>

      <dt>Entrees</dt>
      <dd>
        <% total = 0 %>
        <% @entree_shopping_items.each do |shopping_item| %>
          <% total = total + shopping_item.serves %>
        <% end %>

        <%= total.to_i - @entree_calc%> meals
      </dd>

      <dt>Desserts</dt>
      <dd>
        <% total = 0 %>
        <% @dessert_shopping_items.each do |shopping_item| %>
          <% total = total + shopping_item.serves %>
        <% end %>

        <%= total.to_i - @dessert_calc%> pieces
      </dd>

      <dt>Non-Alcohol</dt>
      <dd>
        <% total = 0 %>
        <% @nonalcohol_shopping_items.each do |shopping_item| %>
          <% total = total + shopping_item.serves %>
        <% end %>

        <%= total.to_i - @nonalcohol_calc%> drinks
      </dd>

      <dt>Alcohol</dt>
      <dd>
        <% total = 0 %>
        <% @alcohol_shopping_items.each do |shopping_item| %>
          <% total = total + shopping_item.serves %>
        <% end %>

        <%= total.to_i - @alcohol_calc%> drinks
      </dd>

      <dt>Flatware</dt>
      <dd>
        <% total = 0 %>
        <% @flatware_shopping_items.each do |shopping_item| %>
          <% total = total + shopping_item.serves %>
        <% end %>

        <%= total.to_i - @flatware_calc%> drinks
      </dd>

      <dt>Budget</dt>
      <dd>
        <% total = 0 %>
        <% @all_items.each do |all_item| %>
          <% total = total + all_item.costs %>
        <% end %>

        <%= number_to_currency(total.to_i-@party.budget) %></dd>
      </dd>
    </dl>
  </div>
</div>

    <div class="btn-group btn-group-justified">
      <a href="/parties" class="btn btn-primary">
        Back
      </a>
      <a href="/parties/<%= @party.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_party/<%= @party.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
