<div class="page-header">
  <h1><%= @party.name %> Profile
  <a href="/parties/<%= @party.id %>/shopping_list" class="btn btn-success" rel="nofollow">Shopping List</a>
  <a href="/parties/<%= @party.id %>/edit" class="btn btn-warning">Edit</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Date</dt>
      <dd><%= @party.date.strftime('%B %e, %Y')%></dd>

      <dt>Duration</dt>
      <dd><%= @party.duration %> hours</dd>

      <dt>Food level</dt>
      <dd><%= @party.food_level %></dd>

      <dt>Drink level</dt>
      <dd><%= @party.drink_level %></dd>

      <dt>Male count</dt>
      <dd><%= @party.male_count %></dd>

      <dt>Female count</dt>
      <dd><%= @party.female_count %></dd>

      <dt>Budget</dt>
      <dd><%= number_to_currency(@party.budget) %></dd>

      <dt>Appetizer</dt>
      <dd><%= @party.appetizer_course %></dd>

      <dt>Entree</dt>
      <dd><%= @party.entree_course %></dd>

      <dt>Dessert</dt>
      <dd><%= @party.dessert_course %></dd>

      <dt>Alcohol</dt>
      <dd><%= @party.alcohol_course %></dd>


<div class="row-header">
<h3>Party Needs vs Shopping List</h3>
<h4>See how your shopping list compares to our food and beverage estimates for your party</h4>
</div>

<table class="table table-striped">
  <tr>
    <th>Course</th>
    <th>Suggested quantities</th>
    <th>Shopping list totals</th>
    <th>Variance</th>
  </tr>

  <tr>
    <td>Appetizers</td>
    <td><%= @appetizer_calc%> pieces</td>
    <td><%= @party.total_servings('Appetizer')%> pieces</td>
    <td><%= @party.comparison('Appetizer', @appetizer_calc)%> drinks (<%= @party.comparison_sign('Appetizer', @appetizer_calc) %>)</td>
  <tr>

  <tr>
    <td>Entrees</td>
    <td><%= @entree_calc%> pieces</td>
    <td><%= @party.total_servings('Entree')%> pieces</td>
    <td><%= @party.comparison('Entree', @entree_calc)%> drinks (<%= @party.comparison_sign('Entree', @entree_calc) %>)</td>
  <tr>

  <tr>
    <td>Desserts</td>
    <td><%= @dessert_calc%> pieces</td>
    <td><%= @party.total_servings('Dessert')%> pieces</td>
    <td><%= @party.comparison('Dessert', @dessert_calc)%> drinks (<%= @party.comparison_sign('Dessert', @dessert_calc) %>)</td>
  <tr>

  <tr>
    <td>Non-Alcohol</td>
    <td><%= @nonalcohol_calc%> pieces</td>
    <td><%= @party.total_servings('Non-alcohol')%> pieces</td>
    <td><%= @party.comparison('Non-alcohol', @nonalcohol_calc)%> drinks (<%= @party.comparison_sign('Non-alcohol', @nonalcohol_calc) %>)</td>
  <tr>

  <tr>
    <td>Alcohol</td>
    <td><%= @alcohol_calc%> pieces</td>
    <td><%= @party.total_servings('alcohol')%> pieces</td>
    <td><%= @party.comparison('alcohol', @alcohol_calc)%> drinks (<%= @party.comparison_sign('alcohol', @alcohol_calc) %>)</td>
  <tr>

  <tr>
    <td>Flatware</td>
    <td><%= @flatware_calc%> pieces</td>
    <td><%= @party.total_servings('Flatware')%> pieces</td>
    <td><%= @party.comparison('Flatware', @flatware_calc)%> drinks (<%= @party.comparison_sign('Flatware', @flatware_calc) %>)</td>
  <tr>

  <tr>
    <td>Total v Budget</td>
    <td><%= number_to_currency(@party.budget)%></td>
    <td><%= number_to_currency(@party.total_cost)%></td>
    <td><%= number_to_currency(@party.total_cost - @party.budget) %> (<%= @party.comparison_sign(@party.total_cost, @party.budget) %>)</td>
  <tr>
</table>

    <div class="btn-group btn-group-justified">
      <a href="/parties" class="btn btn-primary">
        Back
      </a>
      <a href="/parties/<%= @party.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_party/<%= @party.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
