<div class="page-header">
  <h3>Guest #<%= @guest.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @guest.name %></dd>

      <dt>Email</dt>
      <dd><%= @guest.email %></dd>

      <dt>Gender</dt>
      <dd><%= @guest.gender %></dd>

      <dt>Party</dt>
      <dd><%= @guest.party_id %></dd>

      <dt>Item</dt>
      <dd><%= @guest.item_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/guests" class="btn btn-primary">
        Back
      </a>
      <a href="/guests/<%= @guest.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_guest/<%= @guest.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
