<div class="page-header">
  <h1>
    Items
    <a href="/items/new" class="btn btn-lg btn-success">New Item</a>
  </h1>
</div>

<div class="row-header">
  <h3>
    Appetizers
  </h3>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Purchase Unit</th>
        <th>Servings</th>
        <th>Price</th>
        <th>Last Update</th>
        <th>Actions</th>
      </tr>

      <% @appetizers.each do |appetizer| %>
      <tr>
        <td><%= appetizer.name %></td>
        <td><%= appetizer.amount %> <%= appetizer.units %></td>
        <td><%= appetizer.serving_size.to_i %></td>
        <td><%= number_to_currency(appetizer.price) %></td>
        <td><%= appetizer.updated_at.strftime('%B %e, %Y') %></td>
        <td>
          <a href="/items/<%= appetizer.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_item/<%= appetizer.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <form action="/create_shopping_list" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input type="hidden" id="item_id" name="item_id" class="form-control" value="<%= appetizer.id %>">
            <input type="hidden" id="party_id" name="party_id" class="form-control" value="1">
             <button class="btn btn-success"> Add to Party</button>
          </form>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row-header">
  <h3>
    Entrees
  </h3>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Purchase Unit</th>
        <th>Servings</th>
        <th>Price</th>
        <th>Last Update</th>
        <th>Actions</th>
      </tr>

      <% @entrees.each do |entree| %>
      <tr>
        <td><%= entree.name %></td>
        <td><%= entree.amount %> <%= entree.units %></td>
        <td><%= entree.serving_size.to_i %></td>
        <td><%= number_to_currency(entree.price) %></td>
        <td><%= entree.updated_at.strftime('%B %e, %Y') %></td>
        <td>
          <a href="/items/<%= entree.id %>" class="btn btn-primary">Show</a>
          <a href="/items/<%= entree.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_item/<%= entree.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <form action="/create_shopping_list" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input type="hidden" id="item_id" name="item_id" class="form-control" value="<%= entree.id %>">
            <input type="hidden" id="party_id" name="party_id" class="form-control" value="1">
             <button class="btn btn-success"> Add to Party</button>
          </form>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row-header">
  <h3>
    Desserts
  </h3>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Purchase Unit</th>
        <th>Servings</th>
        <th>Price</th>
        <th>Last Update</th>
        <th>Actions</th>
      </tr>

      <% @desserts.each do |dessert| %>
      <tr>
        <td><%= dessert.name %></td>
        <td><%= dessert.amount %> <%= dessert.units %></td>
        <td><%= dessert.serving_size.to_i %></td>
        <td><%= number_to_currency(dessert.price) %></td>
        <td><%= dessert.updated_at.strftime('%B %e, %Y') %></td>
        <td>
          <a href="/items/<%= dessert.id %>" class="btn btn-primary">Show</a>
          <a href="/items/<%= dessert.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_item/<%= dessert.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <form action="/create_shopping_list" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input type="hidden" id="item_id" name="item_id" class="form-control" value="<%= dessert.id %>">
            <input type="hidden" id="party_id" name="party_id" class="form-control" value="1">
             <button class="btn btn-success"> Add to Party</button>
          </form>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row-header">
  <h3>
    Beverages
  </h3>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Purchase Unit</th>
        <th>Servings</th>
        <th>Price</th>
        <th>Last Update</th>
        <th>Actions</th>
      </tr>

      <% @beverages.each do |beverage| %>
      <tr>
        <td><%= beverage.name %></td>
        <td><%= beverage.amount %> <%= beverage.units %></td>
        <td><%= beverage.serving_size.to_i %></td>
        <td><%= number_to_currency(beverage.price) %></td>
        <td><%= beverage.updated_at.strftime('%B %e, %Y') %></td>
        <td>
          <a href="/items/<%= beverage.id %>" class="btn btn-primary">Show</a>
          <a href="/items/<%= beverage.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_item/<%= beverage.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <form action="/create_shopping_list" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input type="hidden" id="item_id" name="item_id" class="form-control" value="<%= beverage.id %>">
            <input type="hidden" id="party_id" name="party_id" class="form-control" value="1">
             <button class="btn btn-success"> Add to Party</button>
          </form>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row-header">
  <h3>
    Other
  </h3>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Purchase Unit</th>
        <th>Servings</th>
        <th>Price</th>
        <th>Last Update</th>
        <th>Actions</th>
      </tr>

      <% @other.each do |other| %>
      <tr>
        <td><%= other.name %></td>
        <td><%= other.amount %> <%= other.units %></td>
        <td><%= other.serving_size.to_i %></td>
        <td><%= number_to_currency(other.price) %></td>
        <td><%= other.updated_at.strftime('%B %e, %Y') %></td>
        <td>
          <a href="/items/<%= other.id %>" class="btn btn-primary">Show</a>
          <a href="/items/<%= other.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_item/<%= other.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <form action="/create_shopping_list" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input type="hidden" id="item_id" name="item_id" class="form-control" value="<%= other.id %>">
            <input type="hidden" id="party_id" name="party_id" class="form-control" value="1">
             <button class="btn btn-success"> Add to Party</button>
          </form>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
