<div class="page-header">
  <h3><%= @item.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @item.name %></dd>

      <dt>Category</dt>
      <dd><%= @item.category %></dd>

      <dt>Units</dt>
      <dd><%= @item.units %></dd>

      <dt>Servings</dt>
      <dd><%= @item.serving_size.to_i %></dd>

      <dt>Price</dt>
      <dd><%= number_to_currency(@item.price) %></dd>

    </dl>


  <form action="/create_shopping_list" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input type="hidden" id="item_id" name="item_id" class="form-control" value="<%= @item.id %>">
            <input type="hidden" id="party_id" name="party_id" class="form-control" value="1">
            <button class="btn btn-success"> Add to Party</button></form>
  <div class="btn-group btn-group-justified">
      <a href="/items" class="btn btn-primary">
        Back
      </a>
      <a href="/items/<%= @item.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_item/<%= @item.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
