<div class="page-header">
  <h3>Shopping List #<%= @shopping_list.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Item</dt>
      <dd><%= @shopping_list.item_id %></dd>

      <dt>Party</dt>
      <dd><%= @shopping_list.party_id %></dd>

      <dt>Quantity</dt>
      <dd><%= @shopping_list.quantity %></dd>

      <dt>Delegation</dt>
      <dd><%= @shopping_list.delegation_status %></dd>

      <dt>Owner</dt>
      <dd><%= @shopping_list.owner %></dd>

      <dt>Notes</dt>
      <dd><%= @shopping_list.notes %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/shopping_lists" class="btn btn-primary">
        Back
      </a>
      <a href="/shopping_lists/<%= @shopping_list.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_shopping_list/<%= @shopping_list.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
